@{
    ViewData["Title"] = "Подтверждение пароля";
}

<h1 class="mt-5">Подтверждение пароля</h1>
<p>
    Письмо было отправлено. Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
</p>
