@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1 class="mt-5">Подтверждение сброса пароля</h1>
<p>
    Пароль был восстановлен. Пожалуйста, <a class="link-redirect" asp-controller="Account" asp-action="Login">авторизируйтесь.</a>
</p>